@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 25% 95%;
    --foreground: 208 47% 10%;
    --card: 0 0% 100%;
    --card-foreground: 208 47% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 208 47% 10%;
    --primary: 208 47% 33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 194 70% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 206 20% 90%;
    --muted-foreground: 208 20% 40%;
    --accent: 194 70% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 30% 85%;
    --input: 208 30% 85%;
    --ring: 208 47% 33%;
    --radius: 0.75rem;
    --chart-1: 208 47% 33%;
    --chart-2: 194 70% 50%;
    --chart-3: 208 20% 40%;
    --chart-4: 194 50% 60%;
    --chart-5: 208 30% 70%;
    
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 208 47% 15%;
    --sidebar-primary: 208 47% 33%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 206 20% 95%;
    --sidebar-accent-foreground: 208 47% 33%;
    --sidebar-border: 208 30% 85%;
    --sidebar-ring: 208 47% 33%;
  }
  .dark {
    --background: 208 47% 10%;
    --foreground: 0 0% 98%;
    --card: 208 47% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 208 47% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 208 47% 33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 194 70% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 208 40% 15%;
    --muted-foreground: 208 20% 70%;
    --accent: 194 70% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 40% 20%;
    --input: 208 40% 20%;
    --ring: 208 47% 33%;
    
    --sidebar-background: 208 47% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 208 47% 33%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 208 40% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 208 40% 20%;
    --sidebar-ring: 208 47% 33%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}